/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	/*background: url('../images/cookie-monster.jpg');*/
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background: url("../images/BG.png");
	
	
}
.logo-left, .logo-right{
	width: 135px;
	height: 135px;
	display: block;
	padding-left: 100px;
}
.logo-down{
	width: 90px;
	height: 90px;
	float: left;
}
#container {
	width: 424px;
	color: #222831;
	padding: 15px;
}

h1{
	color: #f0f0f0;
	padding: 5px;
	border-radius: 5px;
	padding-left: 0;
	/*font-family: 'Oswald', sans-serif;*/
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
}
h2{
	float: left;
	padding-left: 190px;
	padding-top: 10px;
	font-family: 'Sansita Swashed', cursive;
	color: black;
}
.clear{
	clear: both;
}
#main{
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 1233px;
}
#skill-left{
	width: 335px;
	float: left;
	text-align: center;
}
#skill-right{
	width: 335px;
	float: right;
	text-align: center;
	
}
#footer{
	width: 1303px;
	height: 70px;
	text-align: center;
	padding-left: 600px; 
	padding-bottom: 20px;
	background-image: linear-gradient(to bottom right, #32A5E0, #32e0c4);
	float: left;
}
#pro{
	float: left;
	padding-left: 115px;
}
#per{
	float: right;
	padding-right: 85px;
}
.container{
	width: 100%;
	float: left;
	padding-bottom: 30px;
	padding-left: 30px;

}
.container p {

	font-size: 60px;	
	font-family: sans-serif;
	font-weight: bold;
	text-transform: unset;
	margin: 0;
	height: 1em;
	overflow: hidden;
	position: relative;
	left: -0.8em;
}

.container p:nth-child(odd) {
	transform: skewY(-30deg) skewX(45deg) scaleY(1.3333);
}

.container p:nth-child(even) {
	transform: skewY(-30deg) scaleY(1.3333);
}

.container p:nth-child(2) {
	margin-left: 1.3em;
}

.container p:nth-child(3) {
	margin-left: 2.6em;
}

.container p span {
	display: block;
	text-align: center;
	line-height: 1em;
	animation: lettering 3s infinite ease-in-out alternate;
}

@keyframes lettering {
	to {
		transform: translateY(-100%);
	}
}